<?xml version="1.0" encoding="utf-8" ?>
<configure>
    <databases>
        <master>
            <database>
                <host>192.168.1.101</host>
                <port>3306</port>
                <user>root</user>
                <password>password</password>
                <schema>demo</schema>
                <charset>utf8</charset>
                <driver>mysql</driver>
            </database>
        </master>
        <slaves>
            <database>
                <host>192.168.1.101</host>
                <port>3306</port>
                <user>root</user>
                <password>password</password>
                <schema>demo</schema>
                <charset>utf8</charset>
                <driver>mysql</driver>
            </database>
            <database>
                <host>192.168.1.101</host>
                <port>3306</port>
                <user>root</user>
                <password>password</password>
                <schema>demo</schema>
                <charset>utf8</charset>
                <driver>mysql</driver>
            </database>
        </slaves>
    </databases>
    <log>
        <file>demo.log</file>
        <cache_count>10</cache_count>
        <cache_size>4KB</cache_size>
    </log>
</configure>
